*{
    padding: 0;
    margin: 0;
}
section{
    width: 80%;
    margin: 40px auto;
}
.data__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.first-data{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 2px solid red;
}
.second-data{
    /* width: 46%; */
    border: 2px solid red;
}
.location{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.phoneem{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     gap: 15px;
}
.phone, .email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid grey; */
}
.qwc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.second-data{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding: 0 15px 0 15px;
    gap: 20px;
}
.qw, .qw1{
    height: 30px;
}
.qw2{
    height: 60px;
}
input{
    outline: none;
}
button{
    width: 200px;
    margin: 0 auto;
    background-color: orangered;
    color: aliceblue;
    height: 30px;
    border-radius: 8px;
    outline: none;
}
input:focus{
    border: 1px solid red;
}